.main-title {
  font-size: 6rem;
  font-weight: 600;
  color: rgb(var(--v-theme-primary)); 
  background-color: rgb(var(--v-theme-background)); 
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(var(--v-theme-secondary));
}

.section-title {
  font-size: 3rem;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  background-color: rgb(var(--v-theme-primary));
  opacity: 0.9;
  padding: 14px;
}

