.main-title {
  font-size: 6rem;
  font-weight: 600;
  color: rgb(var(--v-theme-primary)); // Utilisez la couleur primaire définie dans votre configuration Vuetify
  background-color: rgb(var(--v-theme-background)); // Utilisez la couleur de fond définie dans votre configuration Vuetify
  margin-bottom: 10px;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(var(--v-theme-secondary));
}


